<%= form_for @cliente, :html => { :class => "form-horizontal cliente" } do |f| %>

    <% if @cliente.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @cliente.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Estado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Estado, :class => 'form-control' %>
    </div>
    <%= error_span(@cliente[:Estado]) %>
  </div>
  <div class="control-group">
    <%= f.label :Persona_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Persona_id,
                   Persona.all.collect {
                           |p| [ p.Nombre1 + " #{p.Nombre2} #{p.Apellido1} #{p.Apellido2} #{p.Direccion}", p.id ] },
                   include_blank: true %>
    </div>
    <%= error_span(@cliente[:Persona_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            clientes_path, :class => 'btn btn-default' %>

<% end %>
