<%= form_for @detalle_sumistro, :html => { :class => "form-horizontal detalle_sumistro" } do |f| %>

    <% if @detalle_sumistro.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@detalle_sumistro.errors.count, "error") %> prohibited this detalle_sumistro from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @detalle_sumistro.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Cantidad, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Cantidad, :class => 'form-control' %>
    </div>
    <%= error_span(@detalle_sumistro[:Cantidad]) %>
  </div>
  <div class="control-group">
    <%= f.label :PrecioUnitario, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :PrecioUnitario, :class => 'form-control' %>
    </div>
    <%= error_span(@detalle_sumistro[:PrecioUnitario]) %>
  </div>
  <div class="control-group">
    <%= f.label :IVA, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :IVA, :class => 'form-control' %>
    </div>
    <%= error_span(@detalle_sumistro[:IVA]) %>
  </div>
  <div class="control-group">
    <%= f.label :Subtotal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Subtotal, :class => 'form-control' %>
    </div>
    <%= error_span(@detalle_sumistro[:Subtotal]) %>
  </div>
  <div class="control-group">
    <%= f.label :FechaVencimiento, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :FechaVencimiento, :class => 'form-control' %>
    </div>
    <%= error_span(@detalle_sumistro[:FechaVencimiento]) %>
  </div>
  <div class="control-group">
    <%= f.label :Ingrediente_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Ingrediente_id, Ingrediente.all.collect { |p| [ p.NombreIngrediente, p.id ] }, include_blank: true, :class => 'form-control'%>
    </div>
    <%= error_span(@detalle_sumistro[:Ingrediente_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :Suministro_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Suministro_id, Suministro.all.collect { |p| [ p.NombreIngrediente, p.id ] }, include_blank: true, :class => 'form-control'%>
      <%= f.text_field :Suministro_id, :class => 'form-control' %>
    </div>
    <%= error_span(@detalle_sumistro[:Suministro_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :UnidadMedida_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :UnidadMedida_id, :class => 'form-control' %>
    </div>
    <%= error_span(@detalle_sumistro[:UnidadMedida_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            detalle_sumistros_path, :class => 'btn btn-default' %>

<% end %>
