<%- model_class = DetalleSumistro -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Cantidad) %></th>
      <th><%= model_class.human_attribute_name(:PrecioUnitario) %></th>
      <th><%= model_class.human_attribute_name(:IVA) %></th>
      <th><%= model_class.human_attribute_name(:Subtotal) %></th>
      <th><%= model_class.human_attribute_name(:FechaVencimiento) %></th>
      <th><%= model_class.human_attribute_name(:Ingrediente_id) %></th>
      <th><%= model_class.human_attribute_name(:Suministro_id) %></th>
      <th><%= model_class.human_attribute_name(:UnidadMedida_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @detalle_sumistros.each do |detalle_sumistro| %>
      <tr>
        <td><%= link_to detalle_sumistro.id, detalle_sumistro_path(detalle_sumistro) %></td>
        <td><%= detalle_sumistro.Cantidad %></td>
        <td><%= detalle_sumistro.PrecioUnitario %></td>
        <td><%= detalle_sumistro.IVA %></td>
        <td><%= detalle_sumistro.Subtotal %></td>
        <td><%= detalle_sumistro.FechaVencimiento %></td>
        <td><%= detalle_sumistro.Ingrediente_id %></td>
        <td><%= detalle_sumistro.Suministro_id %></td>
        <td><%= detalle_sumistro.UnidadMedida_id %></td>
        <td><%= detalle_sumistro.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_detalle_sumistro_path(detalle_sumistro), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      detalle_sumistro_path(detalle_sumistro),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_detalle_sumistro_path,
            :class => 'btn btn-primary' %>
