<%- model_class = DetalleSumistro -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Cantidad) %>:</strong></dt>
  <dd><%= @detalle_sumistro.Cantidad %></dd>
  <dt><strong><%= model_class.human_attribute_name(:PrecioUnitario) %>:</strong></dt>
  <dd><%= @detalle_sumistro.PrecioUnitario %></dd>
  <dt><strong><%= model_class.human_attribute_name(:IVA) %>:</strong></dt>
  <dd><%= @detalle_sumistro.IVA %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Subtotal) %>:</strong></dt>
  <dd><%= @detalle_sumistro.Subtotal %></dd>
  <dt><strong><%= model_class.human_attribute_name(:FechaVencimiento) %>:</strong></dt>
  <dd><%= @detalle_sumistro.FechaVencimiento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Ingrediente_id) %>:</strong></dt>
  <dd><%= @detalle_sumistro.Ingrediente_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Suministro_id) %>:</strong></dt>
  <dd><%= @detalle_sumistro.Suministro_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:UnidadMedida_id) %>:</strong></dt>
  <dd><%= @detalle_sumistro.UnidadMedida_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              detalle_sumistros_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_detalle_sumistro_path(@detalle_sumistro), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              detalle_sumistro_path(@detalle_sumistro),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
