<%= form_for @unidad_medida, :html => { :class => "form-horizontal unidad_medida" } do |f| %>

    <% if @unidad_medida.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@unidad_medida.errors.count, "error") %> prohibited this unidad_medida from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @unidad_medida.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Unidad, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Unidad, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad_medida[:Unidad]) %>
  </div>
  <div class="control-group">
    <%= f.label :NombreCompleto, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NombreCompleto, :class => 'form-control' %>
    </div>
    <%= error_span(@unidad_medida[:NombreCompleto]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            unidad_medidas_path, :class => 'btn btn-default' %>

<% end %>
