<%- model_class = UnidadMedida -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Unidad) %></th>
      <th><%= model_class.human_attribute_name(:NombreCompleto) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @unidad_medidas.each do |unidad_medida| %>
      <tr>
        <td><%= link_to unidad_medida.id, unidad_medida_path(unidad_medida) %></td>
        <td><%= unidad_medida.Unidad %></td>
        <td><%= unidad_medida.NombreCompleto %></td>
        <td><%=l unidad_medida.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_unidad_medida_path(unidad_medida), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      unidad_medida_path(unidad_medida),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_unidad_medida_path,
            :class => 'btn btn-primary' %>
