<%- model_class = UnidadMedida -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Unidad) %>:</strong></dt>
  <dd><%= @unidad_medida.Unidad %></dd>
  <dt><strong><%= model_class.human_attribute_name(:NombreCompleto) %>:</strong></dt>
  <dd><%= @unidad_medida.NombreCompleto %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              unidad_medidas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_unidad_medida_path(@unidad_medida), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              unidad_medida_path(@unidad_medida),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
