<%= form_for @valor_nutricional, :html => { :class => "form-horizontal valor_nutricional" } do |f| %>

    <% if @valor_nutricional.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@valor_nutricional.errors.count, "error") %> prohibited this valor_nutricional from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @valor_nutricional.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :CantidadXPorcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :CantidadXPorcion, :class => 'form-control' %>
    </div>
    <%= error_span(@valor_nutricional[:CantidadXPorcion]) %>
  </div>
  <div class="control-group">
    <%= f.label :Descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Descripcion, :class => 'form-control' %>
    </div>
    <%= error_span(@valor_nutricional[:Descripcion]) %>
  </div>
  <div class="control-group">
    <%= f.label :UnidadMedida_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :UnidadMedida_id, UnidadMedida.all.collect { |p| [ p.NombreCompleto + " [#{p.Unidad}]", p.id ] }, include_blank: true %>
    </div>
    <%= error_span(@valor_nutricional[:UnidadMedida_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :Ingrediente_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Ingrediente_id, Ingrediente.all.collect { |p| [ p.NombreIngrediente, p.id ] }, include_blank: true %>
    </div>
    <%= error_span(@valor_nutricional[:Ingrediente_id]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            valor_nutricionals_path, :class => 'btn btn-default' %>

<% end %>
