<%- model_class = ValorNutricional -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:CantidadXPorcion) %></th>
      <th><%= model_class.human_attribute_name(:Descripcion) %></th>
      <th><%= model_class.human_attribute_name(:UnidadMedida_id) %></th>
      <th><%= model_class.human_attribute_name(:Ingrediente_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @valor_nutricionals.each do |valor_nutricional| %>
      <tr>
        <td><%= link_to valor_nutricional.id, valor_nutricional_path(valor_nutricional) %></td>
        <td><%= valor_nutricional.CantidadXPorcion %></td>
        <td><%= valor_nutricional.Descripcion %></td>
        <td><%= valor_nutricional.UnidadMedida_id %></td>
        <td><%= valor_nutricional.Ingrediente_id %></td>
        <td><%=l valor_nutricional.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_valor_nutricional_path(valor_nutricional), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      valor_nutricional_path(valor_nutricional),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_valor_nutricional_path,
            :class => 'btn btn-primary' %>
