<%- model_class = ValorNutricional -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:CantidadXPorcion) %>:</strong></dt>
  <dd><%= @valor_nutricional.CantidadXPorcion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Descripcion) %>:</strong></dt>
  <dd><%= @valor_nutricional.Descripcion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:UnidadMedida_id) %>:</strong></dt>
  <dd><%= @valor_nutricional.UnidadMedida_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Ingrediente_id) %>:</strong></dt>
  <dd><%= @valor_nutricional.Ingrediente_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              valor_nutricionals_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_valor_nutricional_path(@valor_nutricional), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              valor_nutricional_path(@valor_nutricional),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
