<h1>¡Bienvenido!</h1>
<p>Ahora puedes entrar a la barra de navegación para ver otros menús.</p>
<div style="position: fixed; z-index: -1; bottom: 0; left: auto; width: 50%; height: 80%">
  <%= image_tag "5.png", :alt => "", :title => "Hola" %>
</div>