<%= form_for @municipio, :html => { :class => "form-horizontal municipio" } do |f| %>

    <% if @municipio.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@municipio.errors.count, "error") %> prohibited this municipio from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @municipio.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :NombreMunicipio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NombreMunicipio, :class => 'form-control' %>
    </div>
    <%= error_span(@municipio[:NombreMunicipio]) %>
  </div>
  <div class="control-group">
    <%= f.label :departamento_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :departamento_id, :class => 'form-control' %>
    </div>
    <%= error_span(@municipio[:departamento_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            municipios_path, :class => 'btn btn-default' %>

<% end %>
