<%- model_class = Municipio -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:NombreMunicipio) %>:</strong></dt>
  <dd><%= @municipio.NombreMunicipio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:departamento_id) %>:</strong></dt>
  <dd><%= @municipio.departamento_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              municipios_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_municipio_path(@municipio), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              municipio_path(@municipio),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
