<%= form_for @ingrediente, :html => { :class => "form-horizontal ingrediente" } do |f| %>

    <% if @ingrediente.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@ingrediente.errors.count, "error") %> prohibited this ingrediente from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @ingrediente.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :NombreIngrediente, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NombreIngrediente, :class => 'form-control' %>
    </div>
    <%= error_span(@ingrediente[:NombreIngrediente]) %>
  </div>
  <div class="control-group">
    <%= f.label :Detalles, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Detalles, :class => 'form-control' %>
    </div>
    <%= error_span(@ingrediente[:Detalles]) %>
  </div>
  <div class="control-group">
    <%= f.label :IVA, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :IVA, :class => 'form-control' %>
    </div>
    <%= error_span(@ingrediente[:IVA]) %>
  </div>
  <div class="control-group">
    <%= f.label :TipoIngrediente_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :TipoIngrediente_id, TipoIngrediente.all.collect { |p| [ p.NombreTipoIngrediente, p.id ] }, include_blank: true %>
    </div>
    <%= error_span(@ingrediente[:TipoIngrediente_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            ingredientes_path, :class => 'btn btn-default' %>

<% end %>
