<%- model_class = Ingrediente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:NombreIngrediente) %></th>
      <th><%= model_class.human_attribute_name(:Detalles) %></th>
      <th><%= model_class.human_attribute_name(:IVA) %></th>
      <th><%= model_class.human_attribute_name(:TipoIngrediente_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ingredientes.each do |ingrediente| %>
      <tr>
        <td><%= link_to ingrediente.id, ingrediente_path(ingrediente) %></td>
        <td><%= ingrediente.NombreIngrediente %></td>
        <td><%= ingrediente.Detalles %></td>
        <td><%= ingrediente.IVA %></td>
        <td><%= ingrediente.TipoIngrediente_id %></td>
        <td><%= ingrediente.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_ingrediente_path(ingrediente), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ingrediente_path(ingrediente),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ingrediente_path,
            :class => 'btn btn-primary' %>
