<%- model_class = Ingrediente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:NombreIngrediente) %>:</strong></dt>
  <dd><%= @ingrediente.NombreIngrediente %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Detalles) %>:</strong></dt>
  <dd><%= @ingrediente.Detalles %></dd>
  <dt><strong><%= model_class.human_attribute_name(:IVA) %>:</strong></dt>
  <dd><%= @ingrediente.IVA %></dd>
  <dt><strong><%= model_class.human_attribute_name(:TipoIngrediente_id) %>:</strong></dt>
  <dd><%= @ingrediente.TipoIngrediente_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              ingredientes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_ingrediente_path(@ingrediente), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              ingrediente_path(@ingrediente),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
