<%= form_for @detalle_menu_dium, :html => { :class => "form-horizontal detalle_menu_dium" } do |f| %>

    <% if @detalle_menu_dium.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@detalle_menu_dium.errors.count, "error") %> prohibited this detalle_menu_dium from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @detalle_menu_dium.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Nota, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Nota, :class => 'form-control' %>
    </div>
    <%= error_span(@detalle_menu_dium[:Nota]) %>
  </div>
  <div class="control-group">
    <%= f.label :Plato_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Plato_id, Plato.all.collect { |p| [ p.NombrePlato + " #{p.PrecioUnitario}", p.id ] }, include_blank: true, :class => 'form-control'%>
    </div>
    <%= error_span(@detalle_menu_dium[:Plato_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :Menu_Dia_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Menu_Dia_id, MenuDium.all.collect { |p| [ p.Dia, p.id ] }, include_blank: true, :class => 'form-control'%>
    </div>
    <%= error_span(@detalle_menu_dium[:Menu_Dia_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            detalle_menu_dia_path, :class => 'btn btn-default' %>

<% end %>
