<%- model_class = DetalleMenuDium -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Nota) %></th>
      <th><%= model_class.human_attribute_name(:Plato_id) %></th>
      <th><%= model_class.human_attribute_name(:Menu_Dia_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @detalle_menu_dia.each do |detalle_menu_dium| %>
      <tr>
        <td><%= link_to detalle_menu_dium.id, detalle_menu_dium_path(detalle_menu_dium) %></td>
        <td><%= detalle_menu_dium.Nota %></td>
        <td><%= detalle_menu_dium.Plato_id %></td>
        <td><%= detalle_menu_dium.Menu_Dia_id %></td>
        <td><%= detalle_menu_dium.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_detalle_menu_dium_path(detalle_menu_dium), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      detalle_menu_dium_path(detalle_menu_dium),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_detalle_menu_dium_path,
            :class => 'btn btn-primary' %>
