<%- model_class = DetalleMenuDium -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Nota) %>:</strong></dt>
  <dd><%= @detalle_menu_dium.Nota %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Plato_id) %>:</strong></dt>
  <dd><%= @detalle_menu_dium.Plato_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Menu_Dia_id) %>:</strong></dt>
  <dd><%= @detalle_menu_dium.Menu_Dia_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              detalle_menu_dia_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_detalle_menu_dium_path(@detalle_menu_dium), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              detalle_menu_dium_path(@detalle_menu_dium),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
