<%= form_for @mesa, :html => { :class => "form-horizontal mesa" } do |f| %>

    <% if @mesa.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@mesa.errors.count, "error") %> prohibited this mesa from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @mesa.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :NumeroMesa, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NumeroMesa, :class => 'form-control' %>
    </div>
    <%= error_span(@mesa[:NumeroMesa]) %>
  </div>
  <div class="control-group">
    <%= f.label :Disponibilidad, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :Disponibilidad, :class => 'form-control' %>
    </div>
    <%= error_span(@mesa[:Disponibilidad]) %>
  </div>
  <div class="control-group">
    <%= f.label :Nota, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Nota, :class => 'form-control' %>
    </div>
    <%= error_span(@mesa[:Nota]) %>
  </div>
  <div class="control-group">
    <%= f.label :Maximo_personas, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Maximo_personas, :class => 'form-control' %>
    </div>
    <%= error_span(@mesa[:Maximo_personas]) %>
  </div>
  <div class="control-group">
    <%= f.label :Estado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Estado, :class => 'form-control' %>
    </div>
    <%= error_span(@mesa[:Estado]) %>
  </div>
  <div class="control-group">
    <%= f.label :Detalle, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Detalle, :class => 'form-control' %>
    </div>
    <%= error_span(@mesa[:Detalle]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            mesas_path, :class => 'btn btn-default' %>

<% end %>
