<%- model_class = Mesa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:NumeroMesa) %></th>
      <th><%= model_class.human_attribute_name(:Disponibilidad) %></th>
      <th><%= model_class.human_attribute_name(:Nota) %></th>
      <th><%= model_class.human_attribute_name(:Maximo_personas) %></th>
      <th><%= model_class.human_attribute_name(:Estado) %></th>
      <th><%= model_class.human_attribute_name(:Detalle) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @mesas.each do |mesa| %>
      <tr>
        <td><%= link_to mesa.id, mesa_path(mesa) %></td>
        <td><%= mesa.NumeroMesa %></td>
        <td><%= mesa.Disponibilidad %></td>
        <td><%= mesa.Nota %></td>
        <td><%= mesa.Maximo_personas %></td>
        <td><%= mesa.Estado %></td>
        <td><%= mesa.Detalle %></td>
        <td><%= mesa.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_mesa_path(mesa), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      mesa_path(mesa),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mesa_path,
            :class => 'btn btn-primary' %>
