<%- model_class = Mesa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:NumeroMesa) %>:</strong></dt>
  <dd><%= @mesa.NumeroMesa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Disponibilidad) %>:</strong></dt>
  <dd><%= @mesa.Disponibilidad %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Nota) %>:</strong></dt>
  <dd><%= @mesa.Nota %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Maximo_personas) %>:</strong></dt>
  <dd><%= @mesa.Maximo_personas %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Estado) %>:</strong></dt>
  <dd><%= @mesa.Estado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Detalle) %>:</strong></dt>
  <dd><%= @mesa.Detalle %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              mesas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_mesa_path(@mesa), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              mesa_path(@mesa),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
