<%= form_for @permiso, :html => { :class => "form-horizontal permiso" } do |f| %>

<% if @permiso.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@permiso.errors.count, "error") %> prohibited this permiso from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
    <% @permiso.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
<table>
  <tr>
    <td class="control-group">
      <%= f.label :NombrePermiso, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :NombrePermiso, :class => 'form-control' %>
      </div>
      <%= error_span(@permiso[:NombrePermiso]) %>
    </td>
    <td class="control-group">
      <%= f.label :Eliminar, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :Eliminar, :class => 'form-control' %>
      </div>
      <%= error_span(@permiso[:Eliminar]) %>
    </td>
    <td class="control-group">
      <%= f.label :Modificar, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :Modificar, :class => 'form-control' %>
      </div>
      <%= error_span(@permiso[:Modificar]) %>
    </td>
    <td class="control-group">
      <%= f.label :Ver, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :Ver, :class => 'form-control' %>
      </div>
      <%= error_span(@permiso[:Ver]) %>
    </td>
    <td class="control-group">
      <%= f.label :rols_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :rols_id, Rol.all.collect { |p| [ p.NombreRol, p.id ] } %>
      </div>
      <%= error_span(@permiso[:rols_id]) %>
    </td>
  </tr>
</table>

<%= f.submit nil, :class => 'btn btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        permisos_path, :class => 'btn btn-default' %>
<% end %>