<%- model_class = Permiso -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
    <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:NombrePermiso) %></th>
      <th><%= model_class.human_attribute_name(:Eliminar) %></th>
      <th><%= model_class.human_attribute_name(:Modificar) %></th>
      <th><%= model_class.human_attribute_name(:Ver) %></th>
      <th><%= model_class.human_attribute_name(:rols_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @permisos.each do |permiso| %>
      <tr>
        <td><%= link_to permiso.id, permiso_path(permiso) %></td>
        <td><%= permiso.NombrePermiso %></td>
        <td><%= permiso.Eliminar %></td>
        <td><%= permiso.Modificar %></td>
        <td><%= permiso.Ver %></td>
        <td><%= permiso.rols_id %></td>
        <td><%= permiso.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_permiso_path(permiso), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      permiso_path(permiso),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_permiso_path,
            :class => 'btn btn-primary' %>
