<%- model_class = Permiso -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:NombrePermiso) %>:</strong></dt>
  <dd><%= @permiso.NombrePermiso %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Eliminar) %>:</strong></dt>
  <dd><%= @permiso.Eliminar %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Modificar) %>:</strong></dt>
  <dd><%= @permiso.Modificar %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Ver) %>:</strong></dt>
  <dd><%= @permiso.Ver %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rols_id) %>:</strong></dt>
  <dd><%= @permiso.rols_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              permisos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_permiso_path(@permiso), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              permiso_path(@permiso),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
