<%= form_for @nombre_nutricional, :html => { :class => "form-horizontal nombre_nutricional" } do |f| %>

    <% if @nombre_nutricional.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@nombre_nutricional.errors.count, "error") %> prohibited this nombre_nutricional from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @nombre_nutricional.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :NombresNutricional, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NombresNutricional, :class => 'form-control' %>
    </div>
    <%= error_span(@nombre_nutricional[:NombresNutricional]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            nombre_nutricionals_path, :class => 'btn btn-default' %>

<% end %>
