<%- model_class = NombreNutricional -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:NombresNutricional) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @nombre_nutricionals.each do |nombre_nutricional| %>
      <tr>
        <td><%= link_to nombre_nutricional.id, nombre_nutricional_path(nombre_nutricional) %></td>
        <td><%= nombre_nutricional.NombresNutricional %></td>
        <td><%= nombre_nutricional.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_nombre_nutricional_path(nombre_nutricional), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      nombre_nutricional_path(nombre_nutricional),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_nombre_nutricional_path,
            :class => 'btn btn-primary' %>
