<%- model_class = NombreNutricional -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:NombresNutricional) %>:</strong></dt>
  <dd><%= @nombre_nutricional.NombresNutricional %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              nombre_nutricionals_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_nombre_nutricional_path(@nombre_nutricional), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              nombre_nutricional_path(@nombre_nutricional),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
