<%= form_for @departamento, :html => { :class => "form-horizontal departamento" } do |f| %>

    <% if @departamento.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@departamento.errors.count, "error") %> prohibited this departamento from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @departamento.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :NombreDepartamento, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NombreDepartamento, :class => 'form-control' %>
    </div>
    <%= error_span(@departamento[:NombreDepartamento]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            departamentos_path, :class => 'btn btn-default' %>

<% end %>
