<%= form_for @tipo_ingrediente, :html => { :class => "form-horizontal tipo_ingrediente" } do |f| %>

    <% if @tipo_ingrediente.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@tipo_ingrediente.errors.count, "error") %> prohibited this tipo_ingrediente from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @tipo_ingrediente.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :NombreTipoIngrediente, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NombreTipoIngrediente, :class => 'form-control' %>
    </div>
    <%= error_span(@tipo_ingrediente[:NombreTipoIngrediente]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            tipo_ingredientes_path, :class => 'btn btn-default' %>

<% end %>
