<%- model_class = TipoIngrediente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:NombreTipoIngrediente) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tipo_ingredientes.each do |tipo_ingrediente| %>
      <tr>
        <td><%= link_to tipo_ingrediente.id, tipo_ingrediente_path(tipo_ingrediente) %></td>
        <td><%= tipo_ingrediente.NombreTipoIngrediente %></td>
        <td><%=l tipo_ingrediente.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_tipo_ingrediente_path(tipo_ingrediente), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      tipo_ingrediente_path(tipo_ingrediente),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_tipo_ingrediente_path,
            :class => 'btn btn-primary' %>
