<%- model_class = TipoIngrediente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:NombreTipoIngrediente) %>:</strong></dt>
  <dd><%= @tipo_ingrediente.NombreTipoIngrediente %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              tipo_ingredientes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tipo_ingrediente_path(@tipo_ingrediente), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tipo_ingrediente_path(@tipo_ingrediente),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
