<%= form_for @estado_pedido, :html => { :class => "form-horizontal estado_pedido" } do |f| %>

    <% if @estado_pedido.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@estado_pedido.errors.count, "error") %> prohibited this estado_pedido from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @estado_pedido.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :NombreEstado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NombreEstado, :class => 'form-control' %>
    </div>
    <%= error_span(@estado_pedido[:NombreEstado]) %>
  </div>
  <div class="control-group">
    <%= f.label :Detalles, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Detalles, :class => 'form-control' %>
    </div>
    <%= error_span(@estado_pedido[:Detalles]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            estado_pedidos_path, :class => 'btn btn-default' %>

<% end %>
