<%- model_class = EstadoPedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:NombreEstado) %></th>
      <th><%= model_class.human_attribute_name(:Detalles) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @estado_pedidos.each do |estado_pedido| %>
      <tr>
        <td><%= link_to estado_pedido.id, estado_pedido_path(estado_pedido) %></td>
        <td><%= estado_pedido.NombreEstado %></td>
        <td><%= estado_pedido.Detalles %></td>
        <td><%= estado_pedido.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_estado_pedido_path(estado_pedido), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      estado_pedido_path(estado_pedido),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_estado_pedido_path,
            :class => 'btn btn-primary' %>
