<%- model_class = EstadoPedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:NombreEstado) %>:</strong></dt>
  <dd><%= @estado_pedido.NombreEstado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Detalles) %>:</strong></dt>
  <dd><%= @estado_pedido.Detalles %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              estado_pedidos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_estado_pedido_path(@estado_pedido), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              estado_pedido_path(@estado_pedido),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
