<%= form_for @detalle_plato, :html => { :class => "form-horizontal detalle_plato" } do |f| %>

    <% if @detalle_plato.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@detalle_plato.errors.count, "error") %> prohibited this detalle_plato from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @detalle_plato.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :CantidadIngrediente, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :CantidadIngrediente, :class => 'form-control' %>
    </div>
    <%= error_span(@detalle_plato[:CantidadIngrediente]) %>
  </div>
  <div class="control-group">
    <%= f.label :Plato_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Plato_id, Plato.all.collect { |p| [ p.NombrePlato + " #{p.PrecioUnitario}", p.id ] }, include_blank: true, :class => 'form-control'%>
    </div>
    <%= error_span(@detalle_plato[:Plato_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :Ingrediente_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Ingrediente_id, Ingrediente.all.collect { |p| [ p.NombreIngrediente, p.id ] }, include_blank: true, :class => 'form-control'%>
    </div>
    <%= error_span(@detalle_plato[:Ingrediente_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :Plato_componente_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Plato_componente_id, Plato.all.collect { |p| [ p.NombrePlato + " #{p.PrecioUnitario}", p.id ] }, include_blank: true, :class => 'form-control'%>
    </div>
    <%= error_span(@detalle_plato[:Plato_componente_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            detalle_platos_path, :class => 'btn btn-default' %>

<% end %>
