<%- model_class = DetallePlato -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:CantidadIngrediente) %></th>
      <th><%= model_class.human_attribute_name(:Plato_id) %></th>
      <th><%= model_class.human_attribute_name(:Ingrediente_id) %></th>
      <th><%= model_class.human_attribute_name(:Plato_componente_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @detalle_platos.each do |detalle_plato| %>
      <tr>
        <td><%= link_to detalle_plato.id, detalle_plato_path(detalle_plato) %></td>
        <td><%= detalle_plato.CantidadIngrediente %></td>
        <td><%= detalle_plato.Plato_id %></td>
        <td><%= detalle_plato.Ingrediente_id %></td>
        <td><%= detalle_plato.Plato_componente_id %></td>
        <td><%= detalle_plato.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_detalle_plato_path(detalle_plato), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      detalle_plato_path(detalle_plato),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_detalle_plato_path,
            :class => 'btn btn-primary' %>
