<%- model_class = DetallePlato -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:CantidadIngrediente) %>:</strong></dt>
  <dd><%= @detalle_plato.CantidadIngrediente %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Plato_id) %>:</strong></dt>
  <dd><%= @detalle_plato.Plato_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Ingrediente_id) %>:</strong></dt>
  <dd><%= @detalle_plato.Ingrediente_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Plato_componente_id) %>:</strong></dt>
  <dd><%= @detalle_plato.Plato_componente_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              detalle_platos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_detalle_plato_path(@detalle_plato), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              detalle_plato_path(@detalle_plato),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
