<%= form_for @plato,  :html => { :class => "form-horizontal plato" } do |f| %>

    <% if @plato.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@plato.errors.count, "error") %> prohibited this plato from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @plato.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :NombrePlato, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NombrePlato, :class => 'form-control' %>
    </div>
    <%= error_span(@plato[:NombrePlato]) %>
  </div>
  <div class="control-group">
    <%= f.label :PrecioUnitario, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :PrecioUnitario, :class => 'form-control' %>
    </div>
    <%= error_span(@plato[:PrecioUnitario]) %>
  </div>
  <div class="control-group">
    <%= f.label :Minutos_preparacion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Minutos_preparacion, :class => 'form-control' %>
    </div>
    <%= error_span(@plato[:Minutos_preparacion]) %>
  </div>
  <div class="control-group">
    <%= f.label :Estado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Estado, :class => 'form-control' %>
    </div>
    <%= error_span(@plato[:Estado]) %>
  </div>
  <div class="control-group">
    <%= f.label :Descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Descripcion, :class => 'form-control' %>
    </div>
    <%= error_span(@plato[:Descripcion]) %>
  </div>
  <div class="control-group">
    <%= f.label :tipo_plato_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :tipo_plato_id, TipoPlato.all.collect { |p| [ p.NombreTipoPlato, p.id ] }, include_blank: true %>
    </div>
    <%= error_span(@plato[:tipo_plato_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :imagen_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :imagen_id, Imagen.all.collect { |p| [ p.NombreImagen, p.id ] }, include_blank: true %>
    </div>
    <%= error_span(@plato[:imagen_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            platos_path, :class => 'btn btn-default' %>

<% end %>
