<%- model_class = Plato -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:NombrePlato) %></th>
      <th><%= model_class.human_attribute_name(:PrecioUnitario) %></th>
      <th><%= model_class.human_attribute_name(:Minutos_preparacion) %></th>
      <th><%= model_class.human_attribute_name(:Estado) %></th>
      <th><%= model_class.human_attribute_name(:Descripcion) %></th>
      <th><%= model_class.human_attribute_name(:tipo_plato_id) %></th>
      <th><%= model_class.human_attribute_name(:imagen_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @platos.each do |plato| %>
      <tr>
        <td><%= link_to plato.id, plato_path(plato) %></td>
        <td><%= plato.NombrePlato %></td>
        <td><%= plato.PrecioUnitario %></td>
        <td><%= plato.Minutos_preparacion %></td>
        <td><%= plato.Estado %></td>
        <td><%= plato.Descripcion %></td>
        <td><%= plato.tipo_plato_id %></td>
        <td><%= plato.imagen_id %></td>
        <td><%= plato.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_plato_path(plato), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      plato_path(plato),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_plato_path,
            :class => 'btn btn-primary' %>
