<%- model_class = Plato -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:NombrePlato) %>:</strong></dt>
  <dd><%= @plato.NombrePlato %></dd>
  <dt><strong><%= model_class.human_attribute_name(:PrecioUnitario) %>:</strong></dt>
  <dd><%= @plato.PrecioUnitario %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Minutos_preparacion) %>:</strong></dt>
  <dd><%= @plato.Minutos_preparacion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Estado) %>:</strong></dt>
  <dd><%= @plato.Estado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Descripcion) %>:</strong></dt>
  <dd><%= @plato.Descripcion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_plato_id) %>:</strong></dt>
  <dd><%= @plato.tipo_plato_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:imagen_id) %>:</strong></dt>
  <dd><%= @plato.imagen_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              platos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_plato_path(@plato), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              plato_path(@plato),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
