<h1>Configuraciones</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Configurar</th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= link_to "Imagenes", imagens_path, :class => 'form-control' %></td>
        <td><%= link_to "Empresa y Proveedores", empresas_path, :class => 'form-control' %></td>
        <td><%= link_to "Municipios", municipios_path, :class => 'form-control' %></td>
        <td><%= link_to "Departamentos", departamentos_path, :class => 'form-control' %></td>
      </tr>
      <tr>
        <td><%= link_to "Unidades de medida", unidad_medidas_path, :class => 'form-control' %></td>
        <td><%= link_to "Sumnistros", suministros_path, :class => 'form-control' %></td>
        <td><%= link_to "Nombres nutricionales", nombre_nutricionals_path, :class => 'form-control' %></td>
        <td><%= link_to "Valor nutricional", valor_nutricionals_path, :class => 'form-control' %></td>
      </tr>
      <tr>
        <td><%= link_to "Detalles de valor nutricional", detalle_valor_nutricionals_path, :class => 'form-control' %></td>
        <td><%= link_to "Ingredientes", ingredientes_path, :class => 'form-control' %></td>
        <td><%= link_to "Tipo de Ingredientes", tipo_ingredientes_path, :class => 'form-control' %></td>
        <td><%= link_to "Estados de pedido", estado_pedidos_path, :class => 'form-control' %></td>
      </tr>
  </tbody>
</table>