<%= form_for @rol, :html => { :class => "form-horizontal rol" } do |f| %>

    <% if @rol.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@rol.errors.count, "error") %> prohibited this rol from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @rol.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :NombreRol, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NombreRol, :class => 'form-control' %>
    </div>
    <%= error_span(@rol[:NombreRol]) %>
  </div>
  <div class="control-group">
    <%= f.label :Nota, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Nota, :class => 'form-control' %>
    </div>
    <%= error_span(@rol[:Nota]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            rols_path, :class => 'btn btn-default' %>

<% end %>
