<%- model_class = Rol -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:NombreRol) %>:</strong></dt>
  <dd><%= @rol.NombreRol %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Nota) %>:</strong></dt>
  <dd><%= @rol.Nota %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              rols_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_rol_path(@rol), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              rol_path(@rol),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
