<%= form_for @suministro, :html => { :class => "form-horizontal suministro" } do |f| %>

    <% if @suministro.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@suministro.errors.count, "error") %> prohibited this suministro from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @suministro.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :FechaSumnistro, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :FechaSumnistro, :class => 'form-control' %>
    </div>
    <%= error_span(@suministro[:FechaSumnistro]) %>
  </div>
  <div class="control-group">
    <%= f.label :TotalPagar, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :TotalPagar, :class => 'form-control' %>
    </div>
    <%= error_span(@suministro[:TotalPagar]) %>
  </div>
  <div class="control-group">
    <%= f.label :EstadoPago, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :EstadoPago, :class => 'form-control' %>
    </div>
    <%= error_span(@suministro[:EstadoPago]) %>
  </div>
  <div class="control-group">
    <%= f.label :Empresa_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Empresa_id, Empresa.all.collect { |p| [ p.Nombre_empresa, p.id ] }, include_blank: true %>
    </div>
    <%= error_span(@suministro[:Empresa_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            suministros_path, :class => 'btn btn-default' %>

<% end %>
