<%- model_class = Suministro -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:FechaSumnistro) %></th>
      <th><%= model_class.human_attribute_name(:TotalPagar) %></th>
      <th><%= model_class.human_attribute_name(:EstadoPago) %></th>
      <th><%= model_class.human_attribute_name(:Empresa_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @suministros.each do |suministro| %>
      <tr>
        <td><%= link_to suministro.id, suministro_path(suministro) %></td>
        <td><%= suministro.FechaSumnistro %></td>
        <td><%= suministro.TotalPagar %></td>
        <td><%= suministro.EstadoPago %></td>
        <td><%= suministro.Empresa_id %></td>
        <td><%= suministro.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_suministro_path(suministro), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      suministro_path(suministro),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_suministro_path,
            :class => 'btn btn-primary' %>
