<%- model_class = Suministro -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:FechaSumnistro) %>:</strong></dt>
  <dd><%= @suministro.FechaSumnistro %></dd>
  <dt><strong><%= model_class.human_attribute_name(:TotalPagar) %>:</strong></dt>
  <dd><%= @suministro.TotalPagar %></dd>
  <dt><strong><%= model_class.human_attribute_name(:EstadoPago) %>:</strong></dt>
  <dd><%= @suministro.EstadoPago %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Empresa_id) %>:</strong></dt>
  <dd><%= @suministro.Empresa_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              suministros_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_suministro_path(@suministro), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              suministro_path(@suministro),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
