<%= form_for @pedido, :html => { :class => "form-horizontal pedido" } do |f| %>

    <h2>Informacion pedido</h2>
    <% if @pedido.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pedido.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <table class="table table-striped">
      <tbody>
          <tr>
            <td>
              <%= f.label :FechaPedido, :class => 'control-label' %><br>
              <%= f.date_select :FechaPedido, :class => 'form-control' %>
              <%= error_span(@pedido[:FechaPedido]) %>
            </td>
            <td>
              <%= f.label :Estado, :class => 'control-label' %>
              <div class="controls">
                <%= f.check_box :Estado, :class => 'form-control' %>
              </div>
              <%= error_span(@pedido[:Estado]) %>
            </td>
            <td>
              <%= f.label :Empleado_id, :class => 'control-label' %>
              <div class="controls">
                <% sql = "SELECT pe.Nombre1, pe.Nombre2, pe.Apellido1, pe.Apellido2, ro.NombreRol FROM empleados em INNER JOIN personas pe ON em.Persona_id = pe.id INNER JOIN rols ro ON em.Rol_id = ro.id;" %>
                <%= f.select :Empleado_id, Empleado.find_by_sql(sql).collect { |p| [ p.Nombre1 + " " + p.Nombre2 + " " + p.Apellido1 + " " + p.Apellido2 + " - " + p.NombreRol, p.id ] }, include_blank: true %>
              </div>
              <%= error_span(@pedido[:Empleado_id]) %>
            </td>
            <td>
              <%= f.label :Mesa_id, :class => 'control-label' %><br>
              <%= f.select :Mesa_id, Mesa.all.collect { |p| [ (p.NumeroMesa + p.Maximo_personas), p.id ] }, include_blank: true %>
              <%= error_span(@pedido[:Mesa_id]) %>
            </td>
            <td>
              <%= f.label :EstadoPedido_id, :class => 'control-label' %><br>
              <%= f.select :EstadoPedido_id, EstadoPedido.all.collect { |p| [ p.NombreEstado, p.id ] }, include_blank: true %>
              <%= error_span(@pedido[:EstadoPedido_id]) %>
            </td>
            <td>
              <%= f.label :Cliente_id, :class => 'control-label' %><br>
              <%= f.select :Cliente_id, Persona.all.collect { |p| [ p.Nombre1, p.id ] }, include_blank: true %>
              <%= error_span(@pedido[:Cliente_id]) %>
            </td>
          </tr>
      </tbody>
    </table>

    <!--
    <h2>Detalle pedido</h2>
    <table>
      <tr>
        <td>
          %= f.fields_for :detalle_pedido, :html => { :class => "form-horizontal detalle_pedido" } do |d| %>
              <div class="control-group">
                %= d.label :Cantidad, :class => 'control-label' %>
                <div class="controls">
                  %= d.text_field :Cantidad, :class => 'form-control' %>
                </div>
                %= error_span(@pedido[:Cantidad]) %>
              </div>
              <div class="control-group">
                %= d.label :Subtotal, :class => 'control-label' %>
                <div class="controls">
                  %= d.text_field :Subtotal, :class => 'form-control' %>
                </div>
                %= error_span(@pedido[:Subtotal]) %>
              </div>
              <div class="control-group">
                %= d.label :IVA, :class => 'control-label' %>
                <div class="controls">
                  %= d.text_field :IVA, :class => 'form-control' %>
                </div>
                %= error_span(@pedido[:IVA]) %>
              </div>
              <div class="control-group">
                %= d.label :totalpagar, :class => 'control-label' %>
                <div class="controls">
                  %= d.text_field :totalpagar, :class => 'form-control' %>
                </div>
                %= error_span(@pedido[:totalpagar]) %>
              </div>
              <div class="control-group">
                %= d.label :Plato_id, :class => 'control-label' %>
                <div class="controls">
                  %= d.select :Plato_id, Plato.all.collect { |p| [ p.NombrePlato + " #{p.PrecioUnitario}", p.id ] }, include_blank: true, :class => 'form-control'%>
                </div>
                %= error_span(@pedido[:Plato_id]) %>
              </div>
              <div class="control-group">
                %= d.label :Pedido_id, :class => 'control-label' %>
                <div class="controls">
                  %= d.select :Pedido_id, Pedido.all.collect { |p| [ p.FechaPedido + " #{p.Mesa}", p.id ] }, include_blank: true, :class => 'form-control'%>
                </div>
                %= error_span(@pedido[:Pedido_id]) %>
              </div>
          % end %>
        </td>
      </tr>

    </table>--!>

        <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            pedidos_path, :class => 'btn btn-default' %>

<% end %>
