<%- model_class = Pedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:FechaPedido) %></th>
      <th><%= model_class.human_attribute_name(:Estado) %></th>
      <th><%= model_class.human_attribute_name(:total_pagar) %></th>
      <th><%= model_class.human_attribute_name(:subtotal) %></th>
      <th><%= model_class.human_attribute_name(:Mesa_id) %></th>
      <th><%= model_class.human_attribute_name(:Empleado_id) %></th>
      <th><%= model_class.human_attribute_name(:EstadoPedido_id) %></th>
      <th><%= model_class.human_attribute_name(:Cliente_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= link_to pedido.id, pedido_path(pedido) %></td>
        <td><%= pedido.FechaPedido %></td>
        <td><%= pedido.Estado %></td>
        <td><%= pedido.total_pagar %></td>
        <td><%= pedido.subtotal %></td>
        <td><%= pedido.Mesa_id %></td>
        <td><%= pedido.Empleado_id %></td>
        <td><%= pedido.EstadoPedido_id %></td>
        <td><%= pedido.Cliente_id %></td>
        <td><%= pedido.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pedido_path(pedido), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pedido_path(pedido),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pedido_path,
            :class => 'btn btn-primary' %>
