<%- model_class = Pedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:FechaPedido) %>:</strong></dt>
  <dd><%= @pedido.FechaPedido %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Estado) %>:</strong></dt>
  <dd><%= @pedido.Estado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Mesa_id) %>:</strong></dt>
  <dd><%= @pedido.Mesa_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Empleado_id) %>:</strong></dt>
  <dd><%= @pedido.Empleado_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:EstadoPedido_id) %>:</strong></dt>
  <dd><%= @pedido.EstadoPedido_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Cliente_id) %>:</strong></dt>
  <dd><%= @pedido.Cliente_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              pedidos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pedido_path(@pedido), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pedido_path(@pedido),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
