<%= form_for @empleado, :html => { :class => "form-horizontal empleado" } do |f| %>

    <% if @empleado.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@empleado.errors.count, "error") %> prohibited this empleado from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @empleado.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Estado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Estado, :class => 'form-control' %>
    </div>
    <%= error_span(@empleado[:Estado]) %>
  </div>
  <div class="control-group">
    <%= f.label :Rol_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Rol_id, Rol.all.collect { |p| [ p.NombreRol, p.id ] }, include_blank: true, :class => 'form-control'%>
    </div>
    <%= error_span(@empleado[:Rol_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :Persona_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Persona_id,
                   Persona.all.collect {
                           |p| [ p.Nombre1 + " #{p.Nombre2} #{p.Apellido1} #{p.Apellido2} #{p.Direccion}", p.id ] },
                   include_blank: true, :class => 'form-control'  %>
    </div>
    <%= error_span(@empleado[:Persona_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            empleados_path, :class => 'btn btn-default' %>

<% end %>
