<%- model_class = Empleado -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Estado) %></th>
      <th><%= model_class.human_attribute_name(:Rol_id) %></th>
      <th><%= model_class.human_attribute_name(:Persona_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @empleados.each do |empleado| %>
      <tr>
        <td><%= link_to empleado.id, empleado_path(empleado) %></td>
        <td><%= empleado.Estado %></td>
        <td><%= empleado.Rol_id %></td>
        <td><%= empleado.Persona_id %></td>
        <td><%= empleado.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_empleado_path(empleado), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      empleado_path(empleado),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_empleado_path,
            :class => 'btn btn-primary' %>
