<%= form_for @menu_dium, :html => { :class => "form-horizontal menu_dium" } do |f| %>

    <% if @menu_dium.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@menu_dium.errors.count, "error") %> prohibited this menu_dium from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @menu_dium.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Dia, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Dia, :class => 'form-control' %>
    </div>
    <%= error_span(@menu_dium[:Dia]) %>
  </div>
  <div class="control-group">
    <%= f.label :Estado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Estado, :class => 'form-control' %>
    </div>
    <%= error_span(@menu_dium[:Estado]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            menu_dia_path, :class => 'btn btn-default' %>

<% end %>
