<%- model_class = MenuDium -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Dia) %></th>
      <th><%= model_class.human_attribute_name(:Estado) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @menu_dia.each do |menu_dium| %>
      <tr>
        <td><%= link_to menu_dium.id, menu_dium_path(menu_dium) %></td>
        <td><%= menu_dium.Dia %></td>
        <td><%= menu_dium.Estado %></td>
        <td><%= menu_dium.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_menu_dium_path(menu_dium), :class => 'btn btn-default btn-xs' %>
          <%=
              link_to t('.destroy', :default => t("helpers.links.destroy")),
                      menu_dium_path(menu_dium),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger'
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_menu_dium_path,
            :class => 'btn btn-primary' %>
