<%= form_for @detalle_pedido, :html => { :class => "form-horizontal detalle_pedido" } do |f| %>

    <% if @detalle_pedido.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@detalle_pedido.errors.count, "error") %> prohibited this detalle_pedido from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @detalle_pedido.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Cantidad, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Cantidad, :class => 'form-control' %>
    </div>
    <%= error_span(@detalle_pedido[:Cantidad]) %>
  </div>
  <div class="control-group">
    <%= f.label :IVA, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :IVA, :class => 'form-control' %>
    </div>
    <%= error_span(@detalle_pedido[:IVA]) %>
  </div>
  <div class="control-group">
    <%= f.label :Plato_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Plato_id, Plato.all.collect { |p| [ p.NombrePlato + " #{p.PrecioUnitario}", p.id ] }, include_blank: true, :class => 'form-control'%>
    </div>
    <%= error_span(@detalle_pedido[:Plato_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :Pedido_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Pedido_id, Pedido.all.collect { |p| [ p.FechaPedido, p.id ] }, include_blank: true, :class => 'form-control'%>
    </div>
    <%= error_span(@detalle_pedido[:Pedido_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            detalle_pedidos_path, :class => 'btn btn-default' %>

<% end %>
