<%- model_class = DetallePedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Cantidad) %></th>
      <th><%= model_class.human_attribute_name(:IVA) %></th>
      <th><%= model_class.human_attribute_name(:totalpagar) %></th>
      <th><%= model_class.human_attribute_name(:Plato_id) %></th>
      <th><%= model_class.human_attribute_name(:Pedido_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @detalle_pedidos.each do |detalle_pedido| %>
      <tr>
        <td><%= link_to detalle_pedido.id, detalle_pedido_path(detalle_pedido) %></td>
        <td><%= detalle_pedido.Cantidad %></td>
        <td><%= detalle_pedido.IVA %></td>
        <td><%= detalle_pedido.Plato_id %></td>
        <td><%= detalle_pedido.Pedido_id %></td>
        <td><%= detalle_pedido.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_detalle_pedido_path(detalle_pedido), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      detalle_pedido_path(detalle_pedido),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_detalle_pedido_path,
            :class => 'btn btn-primary' %>
