<%- model_class = DetallePedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Cantidad) %>:</strong></dt>
  <dd><%= @detalle_pedido.Cantidad %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Subtotal) %>:</strong></dt>
  <dd><%= @detalle_pedido.Subtotal %></dd>
  <dt><strong><%= model_class.human_attribute_name(:IVA) %>:</strong></dt>
  <dd><%= @detalle_pedido.IVA %></dd>
  <dt><strong><%= model_class.human_attribute_name(:totalpagar) %>:</strong></dt>
  <dd><%= @detalle_pedido.totalpagar %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Plato_id) %>:</strong></dt>
  <dd><%= @detalle_pedido.Plato_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Pedido_id) %>:</strong></dt>
  <dd><%= @detalle_pedido.Pedido_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              detalle_pedidos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_detalle_pedido_path(@detalle_pedido), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              detalle_pedido_path(@detalle_pedido),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
