<h2>Iniciar sesión</h2>
    <%= bootstrap_form_for(resource,
                           as: resource_name,
                           url: session_path(resource_name)) do |f|%>
        <%= f.email_field :email, autofocus: true, icon: "user" %>
        <%= f.password_field :password, autocomplete: "off" %>
        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
        </div>
        <% end -%>
        <%= f.submit "Log in" %>
    <% end %>
<%= render "devise/shared/links" %>
