    <%= form_for @imagen, :html => { :class => "form-horizontal imagen" } do |f| %>

    <% if @imagen.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@imagen.errors.count, "error") %> prohiben que esta imagen se guarde:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @imagen.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
    <% end %>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="control-group">
      <%= f.label :NombreImagen, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :NombreImagen, :class => 'form-control' %>
      </div>
      <%= error_span(@imagen[:NombreImagen]) %>
    </div>
    <div class="control-group">
    <%= f.label :Estado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Estado, :class => 'form-control' %>
    </div>
    <%= error_span(@imagen[:Estado]) %>
    </div>
    <div class="control-group">
    <%= f.label :Descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Descripcion, :class => 'form-control' %>
    </div>
    <%= error_span(@imagen[:Descripcion]) %>
    </div>

    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            imagens_path, :class => 'btn btn-default' %>

    <% end %>
