<%- model_class = Imagen -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Image</th>
      <th><%= model_class.human_attribute_name(:NombreImagen) %></th>
      <th><%= model_class.human_attribute_name(:Estado) %></th>
      <th><%= model_class.human_attribute_name(:Descripcion) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @imagens.each do |imagen| %>
      <tr>
        <td><%= link_to imagen.id, imagen_path(imagen) %></td>
        <td><%= image_tag imagen.image.url(:thumb) %></td>
        <td><%= imagen.NombreImagen %></td>
        <td><%= imagen.Estado %></td>
        <td><%= imagen.Descripcion %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_imagen_path(imagen), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      imagen_path(imagen),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_imagen_path,
            :class => 'btn btn-primary' %>

