<%- model_class = Imagen -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dd><%= image_tag @imagen.image.url(:medium) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:NombreImagen) %>:</strong></dt>
  <dd><%= @imagen.NombreImagen %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Estado) %>:</strong></dt>
  <dd><%= @imagen.Estado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Descripcion) %>:</strong></dt>
  <dd><%= @imagen.Descripcion %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              imagens_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_imagen_path(@imagen), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              imagen_path(@imagen),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
