<%= form_for @persona, :html => { :class => "form-horizontal persona" } do |f| %>

    <% if @persona.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @persona.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Nombre1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Nombre1, :class => 'form-control' %>
    </div>
    <%= error_span(@persona[:Nombre1]) %>
  </div>
  <div class="control-group">
    <%= f.label :Nombre2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Nombre2, :class => 'form-control' %>
    </div>
    <%= error_span(@persona[:Nombre2]) %>
  </div>
  <div class="control-group">
    <%= f.label :Apellido1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Apellido1, :class => 'form-control' %>
    </div>
    <%= error_span(@persona[:Apellido1]) %>
  </div>
  <div class="control-group">
    <%= f.label :Apellido2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Apellido2, :class => 'form-control' %>
    </div>
    <%= error_span(@persona[:Apellido2]) %>
  </div>
  <div class="control-group">
    <%= f.label :FechNac, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :FechNac, start_year: 1920, :class => 'form-control' %>
    </div>
    <%= error_span(@persona[:FechNac]) %>
  </div>
  <div class="control-group">
    <%= f.label :NumTelefonoPersonal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NumTelefonoPersonal, :class => 'form-control' %>
    </div>
    <%= error_span(@persona[:NumTelefonoPersonal]) %>
  </div>
  <div class="control-group">
    <%= f.label :NumTelefonoTrabajo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NumTelefonoTrabajo, :class => 'form-control' %>
    </div>
    <%= error_span(@persona[:NumTelefonoTrabajo]) %>
  </div>
  <div class="control-group">
    <%= f.label :Email1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Email1, :class => 'form-control' %>
    </div>
    <%= error_span(@persona[:Email1]) %>
  </div>
  <div class="control-group">
    <%= f.label :Email2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Email2, :class => 'form-control' %>
    </div>
    <%= error_span(@persona[:Email2]) %>
  </div>
  <div class="control-group">
    <%= f.label :TipoIdentificacion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :TipoIdentificacion, :class => 'form-control' %>
    </div>
    <%= error_span(@persona[:TipoIdentificacion]) %>
  </div>
  <div class="control-group">
    <%= f.label :NumeroIdentificacion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NumeroIdentificacion, :class => 'form-control' %>
    </div>
    <%= error_span(@persona[:NumeroIdentificacion]) %>
  </div>
  <div class="control-group">
    <%= f.label :Genero, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Genero, [ "Masculino", "Femenino" ], include_blank: true, :class => 'form-control'%>
    </div>
    <%= error_span(@persona[:Genero]) %>
  </div>
  <div class="control-group">
    <!--<= f.label :Estado, :class => 'control-label' %> -->
    <div class="controls">
      <%= f.text_field :Estado, :value => "1", :type => 'hidden', :class => 'form-control' %>
    </div>
    <%= error_span(@persona[:Estado]) %>
  </div>
  <div class="control-group">
    <%= f.label "Municipio", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Direccion, Municipio.all.collect { |p| [ p.NombreMunicipio, p.id ] }, include_blank: true, :class => 'form-control'%>
    </div>
    <%= error_span(@persona[:Direccion]) %>
  </div>
  <div class="control-group">
    <%= f.label :Departamento_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Departamento_id, Departamento.all.collect { |p| [ p.NombreDepartamento, p.id ] }, include_blank: true, :class => 'form-control'%>
    </div>
    <%= error_span(@persona[:Departamento_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :Imagen_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Imagen_id, Imagen.all.collect { |p| [ p.NombreImagen, p.id ] }, include_blank: true, :class => 'form-control'%>
    </div>
    <%= error_span(@persona[:Imagen_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            personas_path, :class => 'btn btn-default' %>

<% end %>
