<%- model_class = Persona -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Nombre1) %></th>
      <th><%= model_class.human_attribute_name(:Nombre2) %></th>
      <th><%= model_class.human_attribute_name(:Apellido1) %></th>
      <th><%= model_class.human_attribute_name(:Apellido2) %></th>
      <th><%= model_class.human_attribute_name(:FechNac) %></th>
      <th><%= model_class.human_attribute_name(:NumTelefonoPersonal) %></th>
      <th><%= model_class.human_attribute_name(:NumTelefonoTrabajo) %></th>
      <th><%= model_class.human_attribute_name(:Email1) %></th>
      <th><%= model_class.human_attribute_name(:Email2) %></th>
      <th><%= model_class.human_attribute_name(:TipoIdentificacion) %></th>
      <th><%= model_class.human_attribute_name(:NumeroIdentificacion) %></th>
      <th><%= model_class.human_attribute_name(:Genero) %></th>
      <th><%= model_class.human_attribute_name(:Estado) %></th>
      <th><%= model_class.human_attribute_name(:Direccion) %></th>
      <th><%= model_class.human_attribute_name(:Departamento_id) %></th>
      <th><%= model_class.human_attribute_name(:Imagen_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= link_to persona.id, persona_path(persona) %></td>
        <td><%= persona.Nombre1 %></td>
        <td><%= persona.Nombre2 %></td>
        <td><%= persona.Apellido1 %></td>
        <td><%= persona.Apellido2 %></td>
        <td><%= persona.FechNac %></td>
        <td><%= persona.NumTelefonoPersonal %></td>
        <td><%= persona.NumTelefonoTrabajo %></td>
        <td><%= persona.Email1 %></td>
        <td><%= persona.Email2 %></td>
        <td><%= persona.TipoIdentificacion %></td>
        <td><%= persona.NumeroIdentificacion %></td>
        <td><%= persona.Genero %></td>
        <td><%= persona.Estado %></td>
        <td><%= persona.Direccion %></td>
        <td><%= persona.Departamento_id %></td>
        <td><%= persona.Imagen_id %></td>
        <td><%=l persona.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_persona_path(persona), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      persona_path(persona),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_persona_path,
            :class => 'btn btn-primary' %>
