<%- model_class = Persona -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Nombre1) %>:</strong></dt>
  <dd><%= @persona.Nombre1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Nombre2) %>:</strong></dt>
  <dd><%= @persona.Nombre2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Apellido1) %>:</strong></dt>
  <dd><%= @persona.Apellido1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Apellido2) %>:</strong></dt>
  <dd><%= @persona.Apellido2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:FechNac) %>:</strong></dt>
  <dd><%= @persona.FechNac %></dd>
  <dt><strong><%= model_class.human_attribute_name(:NumTelefonoPersonal) %>:</strong></dt>
  <dd><%= @persona.NumTelefonoPersonal %></dd>
  <dt><strong><%= model_class.human_attribute_name(:NumTelefonoTrabajo) %>:</strong></dt>
  <dd><%= @persona.NumTelefonoTrabajo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Email1) %>:</strong></dt>
  <dd><%= @persona.Email1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Email2) %>:</strong></dt>
  <dd><%= @persona.Email2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:TipoIdentificacion) %>:</strong></dt>
  <dd><%= @persona.TipoIdentificacion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:NumeroIdentificacion) %>:</strong></dt>
  <dd><%= @persona.NumeroIdentificacion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Genero) %>:</strong></dt>
  <dd><%= @persona.Genero %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Estado) %>:</strong></dt>
  <dd><%= @persona.Estado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Direccion) %>:</strong></dt>
  <dd><%= @persona.Direccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Departamento_id) %>:</strong></dt>
  <dd><%= @persona.Departamento_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Imagen_id) %>:</strong></dt>
  <dd><%= @persona.Imagen_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              personas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_persona_path(@persona), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              persona_path(@persona),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
