<%= form_for @empresa, :html => { :class => "form-horizontal empresa" } do |f| %>

    <% if @empresa.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @empresa.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Nombre_empresa, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Nombre_empresa, :class => 'form-control' %>
    </div>
    <%= error_span(@empresa[:Nombre_empresa]) %>
  </div>
  <div class="control-group">
    <%= f.label :NIT, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NIT, :class => 'form-control' %>
    </div>
    <%= error_span(@empresa[:NIT]) %>
  </div>
  <div class="control-group">
    <%= f.label :Direccion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Direccion, :class => 'form-control' %>
    </div>
    <%= error_span(@empresa[:Direccion]) %>
  </div>
  <div class="control-group">
    <%= f.label :Ciudad, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Ciudad, :class => 'form-control' %>
    </div>
    <%= error_span(@empresa[:Ciudad]) %>
  </div>
  <div class="control-group">
    <%= f.label :Telefono, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Telefono, :class => 'form-control' %>
    </div>
    <%= error_span(@empresa[:Telefono]) %>
  </div>
  <div class="control-group">
    <%= f.label :Celular, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Celular, :class => 'form-control' %>
    </div>
    <%= error_span(@empresa[:Celular]) %>
  </div>
  <div class="control-group">
    <%= f.label :Correo1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Correo1, :class => 'form-control' %>
    </div>
    <%= error_span(@empresa[:Correo1]) %>
  </div>
  <div class="control-group">
    <%= f.label :Correo2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Correo2, :class => 'form-control' %>
    </div>
    <%= error_span(@empresa[:Correo2]) %>
  </div>
  <div class="control-group">
    <%= f.label :PaginaWeb, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :PaginaWeb, :class => 'form-control' %>
    </div>
    <%= error_span(@empresa[:PaginaWeb]) %>
  </div>
  <div class="control-group">
    <%= f.label :Estado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Estado, :class => 'form-control' %>
    </div>
    <%= error_span(@empresa[:Estado]) %>
  </div>
  <div class="control-group">
    <%= f.label :Proveedor, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :Proveedor, :class => 'form-control' %>
    </div>
    <%= error_span(@empresa[:Proveedor]) %>
  </div>
  <div class="control-group">
    <%= f.label :Imagen_logo_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :Imagen_logo_id, Imagen.all.collect { |p| [ p.NombreImagen, p.id ] }, include_blank: true, :class => 'form-control' %>
    </div>
    <%= error_span(@empresa[:Imagen_logo_id]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            empresas_path, :class => 'btn btn-default' %>
<% end %>
