<%- model_class = Empresa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Nombre_empresa) %></th>
      <th><%= model_class.human_attribute_name(:NIT) %></th>
      <th><%= model_class.human_attribute_name(:Direccion) %></th>
      <th><%= model_class.human_attribute_name(:Ciudad) %></th>
      <th><%= model_class.human_attribute_name(:Telefono) %></th>
      <th><%= model_class.human_attribute_name(:Celular) %></th>
      <th><%= model_class.human_attribute_name(:Correo1) %></th>
      <th><%= model_class.human_attribute_name(:Correo2) %></th>
      <th><%= model_class.human_attribute_name(:PaginaWeb) %></th>
      <th><%= model_class.human_attribute_name(:Estado) %></th>
      <th><%= model_class.human_attribute_name(:Proveedor) %></th>
      <th><%= model_class.human_attribute_name(:Imagen_logo_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= link_to empresa.id, empresa_path(empresa) %></td>
        <td><%= empresa.Nombre_empresa %></td>
        <td><%= empresa.NIT %></td>
        <td><%= empresa.Direccion %></td>
        <td><%= empresa.Ciudad %></td>
        <td><%= empresa.Telefono %></td>
        <td><%= empresa.Celular %></td>
        <td><%= empresa.Correo1 %></td>
        <td><%= empresa.Correo2 %></td>
        <td><%= empresa.PaginaWeb %></td>
        <td><%= empresa.Estado %></td>
        <td><%= empresa.Proveedor %></td>
        <td><%= empresa.Imagen_logo_id %></td>
        <td><%= empresa.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_empresa_path(empresa), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      empresa_path(empresa),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_empresa_path,
            :class => 'btn btn-primary' %>
