<%- model_class = Empresa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Nombre_empresa) %>:</strong></dt>
  <dd><%= @empresa.Nombre_empresa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:NIT) %>:</strong></dt>
  <dd><%= @empresa.NIT %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Direccion) %>:</strong></dt>
  <dd><%= @empresa.Direccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Ciudad) %>:</strong></dt>
  <dd><%= @empresa.Ciudad %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Telefono) %>:</strong></dt>
  <dd><%= @empresa.Telefono %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Celular) %>:</strong></dt>
  <dd><%= @empresa.Celular %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Correo1) %>:</strong></dt>
  <dd><%= @empresa.Correo1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Correo2) %>:</strong></dt>
  <dd><%= @empresa.Correo2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:PaginaWeb) %>:</strong></dt>
  <dd><%= @empresa.PaginaWeb %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Estado) %>:</strong></dt>
  <dd><%= @empresa.Estado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Proveedor) %>:</strong></dt>
  <dd><%= @empresa.Proveedor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Imagen_logo_id) %>:</strong></dt>
  <dd><%= @empresa.Imagen_logo_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              empresas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_empresa_path(@empresa), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              empresa_path(@empresa),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
