<%= form_for @detalle_valor_nutricional, :html => { :class => "form-horizontal detalle_valor_nutricional" } do |f| %>

    <% if @detalle_valor_nutricional.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@detalle_valor_nutricional.errors.count, "error") %> prohibited this detalle_valor_nutricional from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @detalle_valor_nutricional.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Cantidad, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Cantidad, :class => 'form-control' %>
    </div>
    <%= error_span(@detalle_valor_nutricional[:Cantidad]) %>
  </div>
  <div class="control-group">
    <%= f.label :Porcentaje, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Porcentaje, :class => 'form-control' %>
    </div>
    <%= error_span(@detalle_valor_nutricional[:Porcentaje]) %>
  </div>
  <div class="control-group">
    <%= f.label :UnidadMedida_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :UnidadMedida_id, UnidadMedida.all.collect { |p| [ p.NombreCompleto + p.Unidad, p.id ] }, include_blank: true %>
    </div>
    <%= error_span(@detalle_valor_nutricional[:UnidadMedida_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :NombreNutricional_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :NombreNutricional_id, NombreNutricional.all.collect { |p| [ p.NombreNutricional, p.id ] }, include_blank: true %>
    </div>
    <%= error_span(@detalle_valor_nutricional[:NombreNutricional_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :ValorNutricional_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :ValorNutricional_id, ValorNutricional.all.collect { |p| [ "#{p.CantidadXPorcion} #{p.Descripcion}} ", p.id ] }, include_blank: true %>
    </div>
    <%= error_span(@detalle_valor_nutricional[:ValorNutricional_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            detalle_valor_nutricionals_path, :class => 'btn btn-default' %>

<% end %>
