<%- model_class = DetalleValorNutricional -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Cantidad) %></th>
      <th><%= model_class.human_attribute_name(:Porcentaje) %></th>
      <th><%= model_class.human_attribute_name(:UnidadMedida_id) %></th>
      <th><%= model_class.human_attribute_name(:NombreNutricional_id) %></th>
      <th><%= model_class.human_attribute_name(:ValorNutricional_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @detalle_valor_nutricionals.each do |detalle_valor_nutricional| %>
      <tr>
        <td><%= link_to detalle_valor_nutricional.id, detalle_valor_nutricional_path(detalle_valor_nutricional) %></td>
        <td><%= detalle_valor_nutricional.Cantidad %></td>
        <td><%= detalle_valor_nutricional.Porcentaje %></td>
        <td><%= detalle_valor_nutricional.UnidadMedida_id %></td>
        <td><%= detalle_valor_nutricional.NombreNutricional_id %></td>
        <td><%= detalle_valor_nutricional.ValorNutricional_id %></td>
        <td><%= detalle_valor_nutricional.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_detalle_valor_nutricional_path(detalle_valor_nutricional), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      detalle_valor_nutricional_path(detalle_valor_nutricional),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_detalle_valor_nutricional_path,
            :class => 'btn btn-primary' %>
