<%- model_class = DetalleValorNutricional -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Cantidad) %>:</strong></dt>
  <dd><%= @detalle_valor_nutricional.Cantidad %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Porcentaje) %>:</strong></dt>
  <dd><%= @detalle_valor_nutricional.Porcentaje %></dd>
  <dt><strong><%= model_class.human_attribute_name(:UnidadMedida_id) %>:</strong></dt>
  <dd><%= @detalle_valor_nutricional.UnidadMedida_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:NombreNutricional_id) %>:</strong></dt>
  <dd><%= @detalle_valor_nutricional.NombreNutricional_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ValorNutricional_id) %>:</strong></dt>
  <dd><%= @detalle_valor_nutricional.ValorNutricional_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              detalle_valor_nutricionals_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_detalle_valor_nutricional_path(@detalle_valor_nutricional), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              detalle_valor_nutricional_path(@detalle_valor_nutricional),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
