<%= form_for @tipo_plato, :html => { :class => "form-horizontal tipo_plato" } do |f| %>

    <% if @tipo_plato.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@tipo_plato.errors.count, "error") %> prohibited this tipo_plato from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @tipo_plato.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :NombreTipoPlato, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NombreTipoPlato, :class => 'form-control' %>
    </div>
    <%= error_span(@tipo_plato[:NombreTipoPlato]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            tipo_platos_path, :class => 'btn btn-default' %>

<% end %>
