<%- model_class = TipoPlato -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:NombreTipoPlato) %>:</strong></dt>
  <dd><%= @tipo_plato.NombreTipoPlato %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
            tipo_platos_path, :class => 'btn btn-default'  %>

<% if can? :update, @tipo_plato %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_tipo_plato_path(@tipo_plato), :class => 'btn btn-default' %>
<% end %>

<% if can? :update, @tipo_plato %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tipo_plato_path(@tipo_plato),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>
