<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "MyFood" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.png', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
      <%= nav_bar fixed: :top, brand: "JD", responsive: true do %>
        <% if current_usuario %>
          <%= menu_group do %>
              <%= menu_divider %>
              <%= drop_down "Platos" do %>
                  <%= menu_item "Platos", platos_path %>
                  <%= menu_item "Tipos de platos", tipo_platos_path %>
                  <%= menu_item "Tipo de ingredientes", tipo_ingredientes_path %>
                  <%= menu_item "Ingredientes", ingredientes_path %>
                  <%= menu_item "Detalle de plato", detalle_platos_path %>
                  <%= menu_item "Mesas", mesas_path %>
                  <%= menu_item "Menu del dia", menu_dia_url %>
                  <%= menu_item "Detalle del menu del dia", detalle_menu_dia_path %>
              <% end %>
              <%= menu_divider %>
              <%= drop_down "Pedidos" do %>
                  <%= menu_item "Pedidos", pedidos_path %>
                  <%= menu_item "Detalle pedidos", detalle_pedidos_path %>
              <% end %>
              <%= menu_divider %>
              <%= drop_down "Personas" do %>
                  <%= menu_item "Personas", personas_path %>
                  <%= menu_item "Empleados", empleados_path %>
                  <%= menu_item "Registrar nuevo usuario", new_usuario_registration_path %>
                  <%= menu_item "Roles", rols_path %>
                  <%= menu_item "Permisos", permisos_path %>
                  <%= menu_item "Clientes", clientes_path %>
              <% end %>
              <%= menu_divider %>
              <%= drop_down "Suministros" do %>
                  <%= menu_item "Suministros", suministros_path %>
                  <%= menu_item "Detalle suministros", detalle_sumistros_path %>
              <% end %>
              <%= menu_divider %>
              <%= menu_item "Configuración", "/home" %>
              <%= menu_item "Acerca de", empresas_path %>
              <%= menu_item "Contacto" %>
          <% end %>
        <% end %>

        <%= menu_group pull: :right do %>
            <% if current_usuario %>
                <li><a href=""><%= current_usuario.email %></a></li>
                <li><%= link_to 'Cerrar sesión', destroy_usuario_session_path, method: :delete %></li>
            <% else %>
                <li><%= link_to 'Login', new_usuario_session_path %></li>
            <% end %>
        <% end %>
      <% end %>
      <br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <!-- % flash.each do |key, value| %>
              <div class="alert alert- %= key %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                %= value %>
              </div>
          < end %>-->
          <div style="position: fixed; z-index: -1; bottom: 0; left: 0; top: 0; width: 90%; height: 100%">
            <%= image_tag "gallery-bg.png", :alt => "" %>
          </div>
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <% if usuario_signed_in? %>
            <div class="col-lg-3">
              <div class="well sidebar-nav">
                <h3>Atajos</h3>
                <ul class="nav nav-list">
                  <li class="nav-header">Navegación</li>
                  <li><%= link_to "Pedidos", pedidos_path  %></li>
                  <li><%= link_to "Cerrar sesión", destroy_usuario_session_path, method: :delete %></li>
                </ul>
              </div><!--/.well -->
            </div><!--/span-->
        <% end %>
      </div><!--/row-->
      <br>
      <footer class="bottom-aligned-row">
        <p>&coprod; Julian David Mora Ramos</p>
        <p>&copy; Company 2015</p>
        <p>&female; Todos</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
